

#container{
    height:100vh;
    display:grid;
    grid-gap: 10px;
    /*grid-template-columns: repeat(6,1fr);
    grid-template-rows: (5,1fr);
    grid-template-areas: 
    "h h f f s s"
    "h h f f s s"
    "h h . . s s"
    "h h m m s s"
    "h h m m s s";*/
    grid-template-columns: 1fr 3fr;
grid-template-rows: 3fr 1fr;
grid-template-areas: 
"s m"
"f f";
}



.head{
    background-color: rgb(194, 151, 9);
grid-area: h
}
.side-nav{
    background-color: rgb(255, 20, 10);
   grid-area: s
}
.main{
    background-color: aqua;
    grid-area: m
}
.foot{
    background-color: gray;
    grid-area: f
}

